/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-gap: 5px;
    background-color: #8B4513;
    padding: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border: 10px solid #63300b;
}

.peg {
    width: 50px;
    height: 50px;
    background-color: #FFD700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.empty {
    background-color: #54290b;
    cursor: default;
}

.hidden {
    visibility: hidden;
}

.selected {
    background-color: #FFA500; /* Highlight selected peg */
}

#meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#meta div:first-child {
    padding: 5px 10px;
}

#meta div:last-child {
    padding: 5px 10px;
}

#restart-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#restart-button:hover {
    background-color: #45a049;
}
